extends layout

block content
  h1= title
  form(action="/signup", method="post")
    p
      label 用户名
      input(type="text" name="loginname")
    p
      label 密码
      input(type="password" name="pass")
    p
      button(type="submit") 登录
